.orange-button:hover {
    color: white;
    background: #ff9950;
}

.admin-course-tools {
    background: #e7f1ff;
    height: fit-content;
}

.course-element {
    background: #f6f6f6;
    /* border: 2px rgba(142, 142, 248, 0.384) dashed; */
    border-radius: 10px;
}

.new-resource {
    height: 4rem;
    border: 3px #a9c4ff dashed;
    border-radius: 10px;
}

.new-resource:hover {
    background: #e8edf8;
}