.orange-button:hover {
    color: white;
    background: #ff9950;
}

.admin-course-tools {
    background: #dcdcdc;
    height: fit-content;
}

.course-element {
    background: #fff5f0;
    border-radius: 10px;
}