:root {
    --bg-pymeralia: #ff6720;
    --bg-btn: #ff9950;
}

.orange-button:hover {
    color: white;
    background: var(--bg-btn);
}

.admin-course-tools {
    background: #e7f1ff;
    height: fit-content;
}

.course-element {
    background: #f6f6f6;
    /* border: 2px rgba(142, 142, 248, 0.384) dashed; */
    border-radius: 10px;
}

.new-resource {
    height: 4rem;
    border: 3px #a9c4ff dashed;
    border-radius: 10px;
}

.new-resource:hover {
    background: #e8edf8;
}

.element-card {
    background: #ffeee6;
    border-radius: 10px;
    margin: 0.5rem;
}

.element-card > * {
    margin: 0;
}

.element-card > i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

.badge-config {
    background: var(--bg-pymeralia);
}

.badge-config > i {
    margin: 0;
    font-size: 1.2rem;
}